<ion-view view-title="Exercises">
  <ion-content>
    <ion-list>
        <ion-item href="#/app/exercise/chest">
            <span class="exercise-list"><center>Chest</span></center>
        </ion-item>
        <ion-item href="#/app/exercise/back">
            <span class="exercise-list"><center>Back</span></center>
        </ion-item>
        <ion-item href="#/app/exercise/bicep">
            <span class="exercise-list"><center>Biceps</span></center>
        </ion-item>
        <ion-item href="#/app/exercise/tricep">
            <span class="exercise-list"><center>Triceps</span></center>
        </ion-item>
        <ion-item href="#/app/exercise/shoulder">
            <span class="exercise-list"><center>Shoulders</span></center>
        </ion-item>
        <ion-item href="#/app/exercise/legs">
            <span class="exercise-list"><center>Legs</span></center>
        </ion-item>
        <ion-item href="#/app/exercise/core">
            <span class="exercise-list"><center>Core</span></center>
        </ion-item>
    </ion-list>
  </ion-content>  
</ion-view>